# MONGO DATABASE URL
DATABASE_URL=mongodb://127.0.0.1:27017/dev-seg-tramites

# KEY FOR TOKEN GENERATION
JWT_KEY=SECRET_2025aff3355

# PORT APP
PORT=3000

# HOST FOR FILE SERVICE
HOST=http://192.168.30.34:3000

# YEAR FOR CODES GENERATION
YEAR=2025 

# HOURS FOR AUTO CANCEL COMMUNICATIONS
AUTO_REJECT_HOURS=72

# MAIL CONFIGURATION
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=email
MAIL_PASSWORD=password
